name: github pages

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '10'
          
      - name: Configure git
        uses: fusion-engineering/setup-git-credentials@v2
        with:
          credentials: ${{secrets.PUBLIC_READ_PAT}}

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm ci
      - name: Find theme
        run: |
          echo "SITE_THEME=$(./get-theme.js)" >> $GITHUB_ENV
      - run: npm run build -- --theme ${{ env.SITE_THEME }}
      - run: npm run build:pdf

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
      - name: Publish
        uses: softprops/action-gh-release@v1
        with:
            tag_name: daily
            files: resume.pdf
            body: |
              Daily build of pdf, regenerated every commit.
            github_token: ${{ secrets.GITHUB_TOKEN }}
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
